* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroya;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main>h1 {
    font-size: 48px;
    display: flex;
    align-items: center;
}

#main>h1 span {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

#main>h1 span img {
    height: 40px;
    rotate: 90deg;
    transition: 0.3s ease;
}

#main>#endec-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 8px;
    width: 28%;
    margin: 35px 0;
    border-radius: 10px;
}

#main>#endec-div h3 {
    font-size: 17px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.2s ease;

}

#endec-div h3 span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#endec-div h3 span img {
    height: 20px;
}

#enc-btn {
    background-color: #333;
}


/* encryption */

#encryption {
    width: 45%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    /* display: none; */
}

#encryption h5 {
    font-weight: 16px;
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #6e6e6e;
}

#encryption textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1c1c1c;
}

#encryption input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1c1c1c;
}

#encryption button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1c1c1c;
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
    cursor: pointer;
}

button span {
    display: flex;
    margin-right: 10px;
}

button img {
    height: 20px;
}



/* decryption */

#decryption {
    width: 45%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}

#decryption h5 {
    font-weight: 16px;
    font-weight: 500;
    margin-top: 13px;
    margin-bottom: 13px;
    color: #6e6e6e;
}

#decryption textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1c1c1c;
}

#decryption input {
    width: 100%;
    border: 1px solid #343434;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    background-color: #1c1c1c;
}

#decryption button {
    display: flex;
    align-items: center;
    color: #6e6e6e;
    background-color: #1c1c1c;
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: #eee;
    font-size: 17px;
    cursor: pointer;
}

button span {
    display: flex;
    margin-right: 10px;
}

button img {
    height: 20px;
}

#result {
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #1c1c1c;
    border: 1ox solid #343434;
    width: 45%;
    margin-top: 40px;
    display: none;
}

